<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::HOME::</title>
</head>
<body>
    <header class="">
        <ul class="">
          <li><a href="#" class="">Home</a></li>
          <li><a href="#" class="">¿Quienes Somos?</a></li>
          <li><a href="#" class="">Colabora</a></li>
          <li><a href="#" class="">FAQs</a></li>
        </ul>
        <div class="">
          <button type="button" class="">Inicia Sesion</button>
          <button type="button" class="">Registrate</button>
        </div>
      </header>
    <section>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam leo libero, elementum 
            sit amet est vitae, dapibus tempor libero. Suspendisse potenti. Suspendisse velit lorem, 
            fringilla id luctus ac, aliquet et magna. In iaculis risus et augue interdum rutrum. Morbi 
            pulvinar viverra velit, quis viverra lorem tincidunt in. Donec vitae placerat metus. Nam lectus arcu, 
            placerat et magna ultrices, tincidunt luctus nisi. Phasellus at magna metus. Suspendisse id turpis fringilla, 
            feugiat tortor sit amet, imperdiet est. Proin urna nisi, accumsan sed mauris vel, elementum faucibus lorem. Nunc
            non auctor erat, id tincidunt turpis. Duis lacinia libero eget blandit pretium. Nullam lacinia iaculis arcu, quis 
            lacinia urna consectetur vitae. Maecenas ultrices purus a fermentum posuere. Pellentesque pulvinar blandit sapien mollis
             malesuada. Nullam mollis erat ligula, eu maximus sapien pellentesque rutrum.

            Pellentesque habitant morbi tristique senectus et netus et malesuada fames 
            ac turpis egestas. Morbi mattis placerat nunc, in faucibus est. Sed massa massa, ullamcorper 
            in interdum nec, tincidunt rutrum sapien. Phasellus eleifend in velit et mollis. Integer quis 
            blandit est. Fusce semper libero eget erat elementum porttitor. Etiam augue nisl, efficitur sit amet 
            facilisis a, suscipit eget nibh. Nullam efficitur dui a condimentum convallis. Nam congue justo ligula, sed 
            venenatis dolor viverra non. Nunc faucibus tempor ipsum a semper. In nec placerat massa. Nam ornare accumsan neque,
            eget egestas nunc tristique nec. Vivamus condimentum gravida elit sit amet sollicitudin. Pellentesque malesuada justo nisi, 
            ut porta magna dictum ac. Quisque et tellus rhoncus, dapibus arcu semper, feugiat leo.

            Maecenas at luctus erat. Donec dignissim varius dolor, sit amet dignissim 
            tortor imperdiet et. Mauris eu enim vitae risus pulvinar blandit a ac elit. Praesent ut elit neque.
            Curabitur ac risus tincidunt, luctus metus eu, porttitor leo. Nulla feugiat sapien eget blandit viverra. Sed
            faucibus, nisl non pellentesque dapibus, lacus risus tristique mi, ut malesuada orci felis ac ex. Etiam efficitur 
            id dui non placerat. Aliquam nec mauris risus. Morbi nec sem dui. Duis eget imperdiet lectus. Donec magna nibh, tempor 
            et quam a, tempus convallis metus. Donec orci ante, tempor at ullamcorper ut, malesuada sit amet felis. Nulla facilisi.
            Sed ac elementum justo. In aliquet enim ante, sit amet aliquet tellus euismod sit amet.
        </p>
    </section>
    <footer>

    </footer>
</body>
</html>