<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::Niños::</title>
</head>
<body>
    <header class="">
        <ul class="">
          <li><a href="#" class="">Home</a></li>
          <li><a href="#" class="">¿Quienes Somos?</a></li>
          <li><a href="#" class="">Colabora</a></li>
          <li><a href="#" class="">FAQs</a></li>
        </ul>
        <div class="">
            <div class="">
                <ul class="" >
                  <li><a class="dropdown-item" href="#">Niños</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Padrinos</a></li>
                </ul>
              </div>
        </div>
      </header>
    <section>
        <div>
            <button type="button" class="">Crear Nuevo Niño</button>
        </div>
        <div>
            <table class="" cellspacing="1" border="1">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">APELLIDOS</th>
                        <th scope="col">NOMBRES</th>
                        <th scope="col">PADRINO</th>
                        <th scope="col">DIRECCION</th>
                        <th scope="col">CONTACTO</th>
                        <th scope="col">ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <button type="button" class="">Editar</button>
                            <button type="button" class="">Asinar Padrino</button>
                            <button type="button" class="">Eliminar</button>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <button type="button" class="">Editar</button>
                            <button type="button" class="">Asinar Padrino</button>
                            <button type="button" class="">Eliminar</button>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <button type="button" class="">Editar</button>
                            <button type="button" class="">Asinar Padrino</button>
                            <button type="button" class="">Eliminar</button>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <button type="button" class="">Editar</button>
                            <button type="button" class="">Asinar Padrino</button>
                            <button type="button" class="">Eliminar</button>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <button type="button" class="">Editar</button>
                            <button type="button" class="">Asinar Padrino</button>
                            <button type="button" class="">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </section>
    <footer>

    </footer>
</body>
</html>